body {
  font-family: monospace;
  font-size: 16px;
  background-color: black;
  margin: 10px 10px 0 10px;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 0;
}


li {
  margin: 5px 5px;
}

label {
  cursor: pointer;
  display: block;
  color: white;

  &:hover {
    background-color: rgba(42, 179, 221, 1);
  }
}

a {
  text-decoration: none;
  color: rgba(42, 179, 221, 1);
}

button {
  padding: 24px 24px;
  font-size: 20px;
  border-radius: 4px;
  background-color: #191917;
  color: rgba(42, 179, 221, 1);
  border: none;
  height: 3.8em;
  margin: 0 3px;

  &:hover {
    background-color: rgba(42, 179, 221, 1);
    transition: background-color 0.50s ease-in;
    color: white;
    cursor: pointer;

    a {
      background-color: rgba(42, 179, 221, 1);
      color: white;
    }
  }
}