/* $bg: rgba(51, 47, 38, 1);
$brightblue: rgba(42, 179, 221, 1);
$teal: rgba(82, 206, 234, 1);
$greenyblue: rgba(84, 191, 166, 1);
$whitish: rgba(244, 247, 252, 1); */

body {
  font-family: monospace;
  font-size: 16px;
  background-color: black;
  margin: 10px 10px 0 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  margin: 0;
}

.webpath {
  font-size: 18px;
  font-weight: 400;
}

li {
  margin: 5px 5px;
}

label {
  cursor: pointer;
  display: block;
  color: white;
}

label:hover {
  background-color: rgba(42, 179, 221, 1);
}

a {
  text-decoration: none;
  color: rgba(42, 179, 221, 1);
}

button {
  padding: 24px 24px;
  font-size: 20px;
  border-radius: 4px;
  background-color: #191917;
  color: rgba(42, 179, 221, 1);
  border: none;
  height: 3.8em;
  margin: 0 3px;
}

button:hover {
  background-color: rgba(42, 179, 221, 1);
  transition: background-color 0.50s ease-in;
  color: white;
  cursor: pointer;
}

button:hover a {
  background-color: rgba(42, 179, 221, 1);
  color: white;
}

.hidden {
  display: none;
}

.shown {
  display: initial;
}

.toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: center;
}

.toolbar-face-count {
  color: white;
}

.thumbnail {
  width: 200px;
  border-radius: 5px;
  transition: transform 200ms;
}

.thumbnail:hover {
  border: 3px solid white;
  transform: scale(1.5);
}

.tags {
  color: white;
  margin-top: 10px;
}

.tags button {
  padding: 0;
  height: 20px;
  min-width: 20px;
  font-size: 15px;
}

.tag-group {
  display: flex;
}

.tag-group .add-tag-input {
  width: 100%;
}

.content-wrapper {
  display: flex;
  flex-flow: column nowrap;
}

.content-wrapper .content-and-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
}

.content-wrapper .content-and-controls .arrow {
  text-decoration: none;
  z-index: 10;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-items: center;
  color: white;
  font-size: 100px;
  opacity: 10%;
}

.content-wrapper .content-and-controls .arrow.left {
  left: 0;
  justify-content: right;
  display: flex;
}

.content-wrapper .content-and-controls .arrow.right {
  right: 0;
}

.content-wrapper .content-and-controls .arrow:hover {
  opacity: 100%;
  transition: opacity 0.7s ease;
}

.content-wrapper.log {
  color: white;
}

.pic,
video {
  opacity: 0;
  max-width: 100vw;
  max-height: calc(100vh - 100px);
  margin: 0 auto;
}

.transition-opacity {
  transition: opacity 0.2s linear;
  opacity: 1;
}

.rotate-right {
  position: absolute;
  top: 0;
  right: -10px;
  z-index: 20;
  background-color: transparent;
}

.pic:hover,
video:hover {
  border: none;
  transform: none;
}

@media all and (display-mode: fullscreen) {
  .toolbar {
    display: none;
  }
}

.section {
  margin: 20px 0;
}

.dir {
  margin: 5px 0;
}

.dir.section {
  column-width: 150px;
}

.media label,
.dir label,
.file label {
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.file label {
  max-width: initial;
}

.media {
  margin: 20px 0;
}

.media a {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.media.section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.metadata {
  color: white;
}

.metadata.shown {
  display: block;
  margin-left: 20px;
}