.searchbox {
  display: none;

  &.shown {
    display: block;
    position: absolute;
    z-index: 100;
    height: 40vh;
    width: 100%;
    opacity: 0.9;
    background: black;
    border: 5px solid white;
    columns: 3 auto;
    column-fill: auto;

    form {
      height: 100%;
      margin: 0;

      ul {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          break-inside: avoid;
        }
      }
    }
  }
}
